# Ignore virtual environments
venv/

# Python bytecode files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings folder
.vscode/

# MacOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

